body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
.review {
    border-color: #ddd;
    border-width: 1px 0px 1px 0px;
    border-style: solid none solid none;
    padding: 1rem 1rem 2.5rem 3rem;
    background-color: #fdfdfd;
}
.review spam {
    font-weight: 600;
    color: #9595a2;
}
footer {
    font-size: 0.85rem;
    margin-top: 7rem;
}